.best {
 background: url(../maketitems/best23.jpg) center center / cover no-repeat;
}
.best__list {
    display: flex;
}
.best__item {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-right: 13px;
}
.best__desc {
    flex: 1 auto;
    display: flex;
    flex-direction: column;
}
.best__title {
    font-family: 'Lifehack-Medium', sans-serif;
    font-size: 24px;
    line-height: 1.167;
    padding-bottom: 30px;
}
.best__text { 
    font-family: 'Ubuntu-Light', sans-serif;
    opacity: 0.7;
    font-size: 14px;
    color: rgba(47, 50, 52, 0.8);
    line-height: 1.714;
}
.best__img {
    padding-bottom: 40px;

}