.nav {
    margin-right: 15px;
}
.nav__list {
    display: flex;
}
.nav__items:last-child .nav__link:after {
    display: none;
}
.nav__link {
    display: flex;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
    &::after {
        content: "";
        width: 4px;
        height: 4px;
        display: block;
        border-radius: 50%;
        background: #ffffff;
        margin: 0 15px;
    }
}
